<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>srvUser</servlet-name>
        <servlet-class>controler.SrvIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvCRUD</servlet-name>
        <servlet-class>controlerAdmins.SrvCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvUsers</servlet-name>
        <servlet-class>controler.SrvUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvRoutes</servlet-name>
        <servlet-class>controler.SrvRoutes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUser</servlet-name>
        <url-pattern>/srvUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvCRUD</servlet-name>
        <url-pattern>/SrvCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvUsers</servlet-name>
        <url-pattern>/SrvUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvRoutes</servlet-name>
        <url-pattern>/SrvRoutes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
